<form action="/start-game" method="post">
    <label for="player-one">Player one name: </label>
    <input id="player-one" name="player1" type="text"><br>
    <label for="player-two">Player two name: </label>
    <input id="player-two" name="player2" type="text"><br>
    <input type="submit" value="submit">
</form>